.gif-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; /* Add a pointer cursor to indicate clickability */
    pointer-events: none; /* Allow underlying elements to receive clicks */
}

#audioPlayer {
    display: none;
}

li {
    z-index: 10; /* Set the desired z-index value */
}





